body {
    background: #0f0a1a;
    color: #f0f0f0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin: 0;
    line-height: 1.6;
}

h1 {
    font-size: 3rem;
    color: #e2dfed;
    margin-top: 40px;
    text-shadow: 0 0 20px rgba(163, 160, 230, 0.4);
}

.card {
    background: #1a162b;
    max-width: 800px;
    margin: 20px auto;
    padding: 30px;
    border-radius: 15px;
    border: 1px solid #332d5a;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}

#important {
    color: #a3a0e6;
    font-size: 1.4rem;
    margin: 20px 0;
}

canvas {
    background: #0a0814;
    border-radius: 10px;
    border: 1px solid #444;
    width: 100%;
    /* Elastyczność */
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
}

th,
td {
    padding: 10px;
    border-bottom: 1px solid #332d5a;
}

button {
    background: #a3a0e6;
    color: #120907;
    border: none;
    padding: 12px 20px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    margin: 5px;
}

button:hover {
    background: #e2dfed;
    transform: translateY(-2px);
}

.loga img {
    filter: grayscale(1) brightness(2);
    max-height: 40px;
    margin: 20px;
    transition: 0.3s;
}

.loga img:hover {
    filter: none;
    transform: scale(1.1);
}